<div class="container  py-4">
  
  <div class="row">
    <div class="py-0 col col-md-12 d-flex justify-content-center align-items-center">
      <h3 class="font-weight-bold bg-light">
        Consulta de Contrato
      </h3>
    </div>
<!--
    <div class="col col-md-6 p-1" style="border: 2px solid red;">

    </div>
    <div class="col col-md-6 p-1" style="border: 2px solid red;">

    </div>
-->
  </div>

  <div class="row mt-4">
    <div class="col col-md-2 p-2">
      <h4 class="font-weight-normal">
        Contrato:
      </h4>
    </div>

    <div class="col col-md-2 p-2 mr-md-4">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill" style="border-bottom: 1px solid gray">
          <input matInput #message maxlength="13" placeholder="1362021000028">
        </mat-form-field>
      </form>
    </div>

    <div class="col col-md-2 p-2 mr-md-4" style="border: 2px solid;">
      <button class="example-full-width"  mat-raised-button color="primary">Buscar</button>
    </div>

    <div class="col col-md-2 p-2" style="border: 2px solid red;">
      <button class="example-full-width"  mat-raised-button color="primary">Buscar</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Datos Personales:
      </h3>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Nombres:
       </strong>
       <span>Juan</span> 
    </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Estatus:
       </strong>
       <span>Juan</span> 
      </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Plan:
       </strong>
       <span>Juan</span> 
      </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Fecha Contrato:
       </strong>
       <span>Juan</span> 
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Pagos Realizados:
      </h3>
    </div>

    <div class="col col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Pagos Por Realizar:
      </h3>
    </div>
  </div>

</div>