.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .c_point_type  {
    background-color: rgb(60, 179, 113) !important;
  }

  .point_type  {
    background-color: white !important;
  }