<div class="container  py-4">
  
  <div class="row">
    <div class="py-0 col col-md-12 d-flex justify-content-center align-items-center">
      <h3 class="font-weight-bold bg-light">
        Consulta de Contrato
      </h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-md-2 p-2">
      <h4 class="font-weight-normal">
        Contrato:
      </h4>
    </div>

    <div class="col col-md-2 p-2 mr-md-4">
      <!--  #formSearchTerm="ngForm" (ngSubmit)="true" -->
      <form class="example-form">
        <mat-form-field  class="example-full-width" appearance="fill" style="border-bottom: 1px solid gray" ngClass="">
          <input matInput #term name="searchTerm" [(ngModel)]="searchForm.searchTerm"  maxlength="13" placeholder="1362021000028">
        </mat-form-field>
      </form>
    </div>

    <div class="col col-md-2 p-2 mr-md-4">
      <button class="example-full-width"  mat-raised-button color="primary"
      (click)="searchTerm($event)">Buscar</button>
    </div>

    <div class="col col-md-2 p-2">
      <button class="example-full-width"  mat-raised-button color="primary">Excel</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Datos Personales:
      </h3>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Nombres:
       </strong>
       <span> {{ statementAccount?.opcNombre ? statementAccount?.opcNombre : '---' }} </span> 
    </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Estatus:
       </strong>
       <span> {{ statementAccount?.opcEstatus ? statementAccount?.opcEstatus : '---' }} </span> 
      </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Plan:
       </strong>
       <span> {{ statementAccount?.opcPlan ? statementAccount?.opcPlan : '---' }} </span> 
      </p>
    </div>
    <div class="col col-md-12 mt-1">
      <p> 
        <strong>
          Fecha Contrato:
       </strong>
       <span> {{ statementAccount?.opcFechaContrato ? statementAccount?.opcFechaContrato : '---' }} </span> 
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Pagos Realizados:
      </h3>
    </div>

    <div class="col col-md-12">
      <table mat-table [dataSource]="paymentMade" class="mat-elevation-z8">

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"
          [id]="element?.cTipo"
          [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }">
          {{ element?.id }}
          </td>
        </ng-container>
      
        <!-- nContribution Column -->
        <ng-container matColumnDef="nContribution">
          <th mat-header-cell *matHeaderCellDef> No. Aportación </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }"> {{element?.nContribution }} </td>
        </ng-container>
      
        <!-- concept Column -->
        <ng-container matColumnDef="concept">
          <th mat-header-cell *matHeaderCellDef> Concepto </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }"> {{element?.concept }} </td>
        </ng-container>

        <!-- dueDate Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }"> {{element?.dueDate }} </td>
        </ng-container>

        <!-- paymentDate Column -->
        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef> Fecha Pago </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }"> {{element?.paymentDate }} </td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element?.cTipo === 'Puntual' ? '#3CB371' : 'white' }"> {{element?.amount }} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--
      <mat-paginator [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
      </mat-paginator>
      -->
    </div>
  </div>


  <div class="row mt-4">
    <div class="py-0 col col-md-12 bg-light d-flex justify-content-left align-items-center">
      <h3 class="font-weight-bold">
        Pagos Por Realizar:
      </h3>
    </div>

    <div class="col col-md-12">
      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="paymentBeMade" class="mat-elevation-z8">

          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"
            [id]="element?.cTipo"
            [ngStyle]="{'background-color': element?.isLess ? '#A92027' : element?.isGreater ? '#F77C34' : element?.isGreaterThanThreeMonths ?  '#3CB371' : 'white' }">
            {{ element?.id }}
            </td>
          </ng-container>
        
          <!-- nContribution Column -->
          <ng-container matColumnDef="nContribution">
            <th mat-header-cell *matHeaderCellDef> No. Aportación </th>
            <td mat-cell *matCellDef="let element" 
            [ngStyle]="{'background-color': element?.isLess ? '#A92027' : element?.isGreater ? '#F77C34' : element?.isGreaterThanThreeMonths ?  '#3CB371' : 'white' }">
            {{element?.nContribution }}
            </td>
          </ng-container>
        
          <!-- concept Column -->
          <ng-container matColumnDef="concept">
            <th mat-header-cell *matHeaderCellDef> Concepto </th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.isLess ? '#A92027' : element?.isGreater ? '#F77C34' : element?.isGreaterThanThreeMonths ?  '#3CB371' : 'white' }">
            {{element?.concept }}
            </td>
          </ng-container>
  
          <!-- dueDate Column -->
          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.isLess ? '#A92027' : element?.isGreater ? '#F77C34' : element?.isGreaterThanThreeMonths ?  '#3CB371' : 'white' }">
            {{element?.dueDate }}
            </td>
          </ng-container>
  
          <!-- amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.isLess ? '#A92027' : element?.isGreater ? '#F77C34' : element?.isGreaterThanThreeMonths ?  '#3CB371' : 'white' }">
            {{element?.amount }}
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedBeMadeColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedBeMadeColumns;"></tr>
        </table>
        
        <!-- 
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
        </mat-paginator>
        -->

      </div>

    </div>

  </div>

</div>